<h1>Welcome to this fuckin' awesome website!</h1>

<div>
  <% if user_signed_in? %>
    <p>Welcome <%=  current_user.email %></p>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-info" %>
    <br>
    <p>You can do the following things:</p>
    <%= link_to "Read Articles", articles_path, class: "btn btn-primary" %>
    <%= link_to "Write a New Article", new_article_path, class: "btn btn-primary" %>
    <br>
    <% if current_user.try(:admin?) %>
      <p>You are an admin user.</p>
      <%= link_to "Administrate dummy users", user_index_path, class: "btn btn-warning"  %>
    <% end %>
  <% else %>
    <p>Welcome guest! You need an account to see our awesome stuff! ;-)</p>
    <br>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-success"%> or 
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info"  %> or 
    <%= link_to "Read Articles", articles_path, class: "btn btn-primary" %>
  <% end %>
</div>