<h1>hello world!</h1>

<div>
  <% if user_signed_in? %>
    Welcome <%=  current_user.email %>
    <br>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    Welcome guest
    <br>
    <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
  <% if current_user.try(:admin?) %>
    <br>
    You are an admin user.
    <br>
    <%= link_to "Administrate other users" %>
  <% end %>
</div>