<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @article.publish_date %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <% if @article.thumbnail? %>
    <%= cl_image_tag(@article.thumbnail.path, :width => 300, :crop => :fill, :quality => 75) %>
  <% else %>
    <p>No thumbnail uploaded yet!!</p>
  <% end %>
</p>

<h2>Comments:</h2>
<% if @article.comments.empty? %>
  <p> No comments yet! </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Published On</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @article.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.email %></td>
          <td><%= comment.publish_date %></td>
          <td><%= comment.content %></td>
          <td>
            <% if can? :update, comment %>
              <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-info" %>
            <% end %>
            <% if can? :destroy, comment %>
              <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render_comment_form [@article, @article.comments.build] if user_signed_in? %>

<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-info" %> 
<%= link_to 'Back', articles_path, class: "btn btn-default" %>
